@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply lg:max-w-[730px] px-7;
  }
  body {
    @apply font-figtree;
  }
}

html, body, body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.heading-text {
  @apply text-white text-base font-extrabold leading-[148%] uppercase;
}
.title {
  @apply text-sm leading-[17px] font-extrabold text-[#C5C5C5];
}
.desc {
  @apply text-[#C5C5C5] leading-[148%] font-semibold text-xs;
}

.user_dropdown_shadow {
  box-shadow: 0px 4px 183px #000000a1;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c336c3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c422c4;
}

#react-select-3-listbox {
  border: 2px solid #c336c3 !important;
  background-color: #c336c3 !important;
}
.css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer {
  color: #fff !important;
}
.css-u9qdc0-control {
  box-shadow: none !important;
}

html {
  background-color: #1E1E1E;
}